.pageRefresher__container {
  position: absolute;
  top:12px;
  left:0;
}
  .pageRefresher__container--hidden {
    visibility: hidden;
}

.mainActionButtons__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageSelector__container {
  display: flex;
  justify-content: center;
}

.imageSelectorLabel {
  display: flex;
  justify-content: center;
}

.cardCreator__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .cardCreator__container--hidden {
    display: none;
}

.flipCard__wrapper--hidden {
  display: none;
}

#imageSelector {
  display: none;
}

.adviceArea {
  display: flex;
  justify-content: center;
  color: var(--secondary-content)
  }
  .adviceArea--hidden {
    display: none;
} 

.adviceArea__image {
  width: 120px;
  height: 120px;
  background-image: url(./img/robot3.png);
  background-size: contain;
  background-repeat: no-repeat;
}






